# yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Temp
Thumbs.db
.DS_Store
*.txt
*.bin

# idea build 文件
*.iml
.idea/*
*.log

# Mathematica 文档
# Resources/jar/data/

# Mathematica 压缩包
*.WXF
*.zip
*.rar
*.7z
*.jar
